<div class="comments">
  <table class="table">
  <tbody>
    <% recipe_comments.each do |recipe_comment| %>
      <tr>
        <td><%= image_tag recipe_comment.user.get_profile_image(30,30), class: "rounded-circle" %></td>
        <td>
          <%= link_to user_path(recipe_comment.user.id) do %>
            <%= recipe_comment.user.nick_name %>
          <% end %>
        </td>
        <td><%= recipe_comment.comment %></td>
        <td>
          <% if recipe_comment.user == current_user %>
            <%= link_to "削除", recipe_recipe_comment_path(recipe_comment.recipe, recipe_comment), method: :delete, remote: true, 'data-confirm' => "本当に消しますか？", class: "btn btn-sm btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
