<div class="container">
<h3>キーワード検索結果：<strong><%= @word %></strong></h3>
  <div class="row">
      <% if Recipe.where('title LIKE ?', '%'+@word+'%').exists? or Ingredient.where(name: @word).exists? %>
        <div class="col-md-6">
          <% @recipes.each do |recipe| %>
            <div class="recipe-list">
              <%= link_to user_path(recipe.user) do %>
                <div class="recipe-user">
                  <%= image_tag recipe.user.get_profile_image(40,40), class: "rounded-circle" %>
                  <span><%= recipe.user.nick_name %></span>
                </div>
              <% end %>
              <%= link_to recipe_path(recipe) do %>
                <div class="recipe-image">
                  <%= image_tag recipe.image %>
                </div>
              <% end %>
              <div class="favorite-btn">
                <div class="table_favorites<%= recipe.id %>">
                  <%= render "public/favorites/favorite_btn", recipe:recipe %>
                </div>
                <div class="recipe-title">
                  <h3><%= recipe.title %></h3>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-5 offset-md-1">
          <% if Ingredient.where(name: @word).exists? %>
            <% ingredients = Ingredient.where(name: @word) %>
            <% include_ingredients_recipes = Recipe.where(ingredients: ingredients) %>
            <h3><%= @word %>を使用したレシピ</h3>
            <% include_ingredients_recipes.each do |recipe| %>
            <div class="recipe-list">
              <%= link_to user_path(recipe.user) do %>
                <div class="recipe-user">
                  <%= image_tag recipe.user.get_profile_image(40,40), class: "rounded-circle" %>
                  <span><%= recipe.user.nick_name %></span>
                </div>
              <% end %>
              <%= link_to recipe_path(recipe) do %>
                <div class="recipe-image">
                  <%= image_tag recipe.image %>
                </div>
              <% end %>
              <div class="favorite-btn">
                <div class="table_favorites<%= recipe.id %>">
                  <%= render "public/favorites/favorite_btn", recipe:recipe %>
                </div>
                <div class="recipe-title">
                  <h3><%= recipe.title %></h3>
                </div>
              </div>
            </div>
          <% end %>
          <% end %>
        </div>
      <% elsif User.where('nick_name LIKE ?', '%'+@word+'%').exists? %>
        <div class="col-md-7">
          <table class="table">
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= link_to user_path(user) do %>
                      <%= image_tag user.get_profile_image(40,40), class: "rounded-circle" %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to user_path(user) do %>
                      <%= user.nick_name %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
  </div>
</div>

