<div class="container">
  <div class="row">
    <% @recipes.each do |recipe| %>
      <%= recipe.title %>
      <%= image_tag recipe.image, size: "100x100" %>
      <% recipe.ingredients.each do |ingredient| %>
        <%= ingredient.name %>
        <%= ingredient.quantity %>
      <% end %>
      <% recipe.steps.each do |step| %>
        <%= step.step %>
        <% if step.step_image.present? %>
          <%= image_tag step.step_image, size: "50x50" %>
          <%= step.description %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
