<div class="container">
  <div class="row">
    <div class="col-md-7 offset-md-1">
      <% @recipes.each do |recipe| %>
        <%= recipe.title %>
        <%= image_tag recipe.image, size: "100x100" %>
        <% recipe.ingredients.each do |ingredient| %>
          <%= ingredient.name %>
          <%= ingredient.quantity %>
        <% end %>
        <% recipe.steps.each do |step| %>
          <%= step.step %>
          <% if step.step_image.present? %>
            <%= image_tag step.step_image, size: "50x50" %>
            <%= step.description %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-3 offset-md-1">
      <div class="stock-food">
        <h5>ストック食材を登録する</h5>
          <%= form_with model: @stock_food, url:stock_foods_path, local:true do |f| %>
            <div class="form-group row">
              <%= f.label "ストック食品", class: "col-md-6 col-form-label" %>
              <%= f.text_field :name, placeholder: "例:大根", class: "form-control" %>
              <%= f.label "消費期限", class: 'col-md-6 control-label' %>
              <%= f.date_field :expiration_date, class: 'form-control' %>
              <%= f.submit '登録する', class: "btn btn-success" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
