<div class="container">
  <div class="row">
    <div class="col-md-4 mt-5">
      <h2>ジャンル一覧・追加</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-7">
      <%= form_with model: @genre, url: admin_genre_path, method: :patch, local: true do |f| %>
      <%= render 'layouts/error_messages', model: @genre %>
        <div class="form-group row">
          <%= f.label :name, "ジャンル名", class: "col-md-2" %>
          <div class="col-md-4">
            <%= f.text_field :name, autofocus: true, placeholder: "ジャンル名", autocomplete: 'off', class: "form-control" %>
          </div>
          <div class="col-md-2">
            <%= f.submit "変更", class: "btn btn-outline-secondary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>