<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="stock-food">
        <h5><strong>ストック食材を登録する</strong></h5>
          <%= form_with model: @stock_food, url: user_stock_foods_path(@user), local:true do |f| %>
          <table class="stock-form">
            <tr>
              <th>ストック食品</th>
              <td>
                <%= f.text_field :name, placeholder: "例:大根", class: "form-control" %>
              </td>
            </tr>
            <tr>
              <th>消費期限</th>
              <td>
                <%= f.date_field :expiration_date, class: 'form-control' %>
              </td>
              <td><%= f.submit '登録する', class: "btn btn-success" %></td>
            </tr>
          </table>
          <% end %>
      </div>
    </div>
    <div class="col-md-6">
    <div class="stock-foods">
      <table class="stock-table">
        <thead>
          <tr>
            <td><strong>ストック食品</strong></td>
            <td><strong>消費期限</strong></td>
            <td colspan="3"><strong>今日の日付：<%= Date.today %></strong></td>
          </tr>
        </thead>
        <tbody>
          <% @stock_foods.each do |stock_food| %>
            <tr>
              <td><%= stock_food.name %></td>
              <td><%= stock_food.expiration_date %></td>
              <td>
                <% if stock_food.notification.nil? %>
                <% elsif stock_food.notification.action == "warning" %>
                  <strong>期限間近</strong>
                <% elsif stock_food.notification.action == "expired" %>
                  <strong>期限切れ</strong>
                <% end %>
              </td>
              <td>
                <%= link_to "Destroy", user_stock_food_path(stock_food.user, stock_food), method: :delete, 'data-confirm' => "本当に消しますか？", class: "btn btn-sm btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>