<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="stock-food">
        <h5><strong>ストック食材を登録する</strong></h5>
          <%= form_with model: @stock_food, url: user_stock_foods_path(@user), local:true do |f| %>
            <div class="form-group row">
              <%= f.label "ストック食品", class: "col-md-6 col-form-label" %>
              <%= f.text_field :name, placeholder: "例:大根", class: "form-control col-md-5" %>
            </div>
            <div class="form-group row">
              <%= f.label "消費期限", class: 'col-md-6 control-label' %>
              <%= f.date_field :expiration_date, class: 'form-control col-md-5' %>
              <%= f.submit '登録する', class: "btn btn-success" %>
            </div>
          <% end %>
      </div>
    </div>
    <div class="col-md-6 offset-md-1">
      <table class="table">
        <thead>
          <tr>
            <td><strong>ストック食品</strong></td>
            <td><strong>消費期限</strong></td>
          </tr>
      </thead>
      <tbody>
        <% @stock_foods.each do |stock_food| %>
        <tr>
          <td><%= stock_food.name %></td>
          <td><%= stock_food.expiration_date %></td>
        </tr>
        <% end %>
      </tbody>
    </div>
  </div>
</div>