<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 mt-5">
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="form-group row font-weight-bold">
          <%= f.label "お名前", class: "col-md-2 col-form-label" %>
          <%= f.label "(姓)", class: "col-md-1 col-form-label" %>
          <div class="form-group col-md-4">
            <%= f.text_field :last_name, autocomplete: 'off', placeholder: "山田", class: "form-control" %>
          </div>
          <%= f.label "(名)", class: "col-md-1 col-form-label" %>
          <div class="form-group col-md-4">
            <%= f.text_field :first_name, autocomplete: 'off', placeholder: "太郎", class: "form-control" %>
          </div>
        </div>

        <div class="form-group row font-weight-bold">
          <%= f.label "フリガナ", class: "col-md-2 col-form-label" %>
          <%= f.label "(セイ)", class: "col-md-1 col-form-label" %>
          <div class="form-group col-md-4">
            <%= f.text_field :last_name_kana, autocomplete: 'off', placeholder: "ヤマダ", class: "form-control" %>
          </div>
          <%= f.label "(メイ)", class: "col-md-1 col-form-label" %>
          <div class="form-group col-md-4">
            <%= f.text_field :first_name_kana, autocomplete: 'off', placeholder: "タロウ", class: "form-control" %>
          </div>
        </div>

        <div class="form-group row font-weight-bold">
          <%= f.label "メールアドレス", class: "col-md-3 col-form-label"%>
          <div class="form-group col-md-4">
            <%= f.email_field :email, autocomplete: 'off', class: "form-control" %>
          </div>
        </div>

        <div class="form-group row font-weight-bold">
          <%= f.label "郵便番号", class: "col-md-3 col-form-label"%>
          <div class="form-group col-md-4">
            <%= f.text_field :postal_code, autocomplete: 'off', class: "form-control" %>
          </div>
        </div>

        <div class="form-group row font-weight-bold">
          <%= f.label "住所", class: "col-md-3 col-form-label"%>
          <div class="form-group col-md-7">
            <%= f.text_field :address, autocomplete: 'off', class: "form-control" %>
          </div>
        </div>

        <div class="form-group row font-weight-bold">
          <%= f.label "電話番号", class: "col-md-3 col-form-label"%>
          <div class="form-group col-md-4">
            <%= f.text_field :phone_number, autocomplete: 'off', class: "form-control" %>
          </div>
        </div>

        <div class="form-group row font-weight-bold">
          <%= f.label "生年月日", class: "col-md-3 col-form-label"%>
          <div class="form-group col-md-4">
            <%= f.date_select :birth_date, autocomplete: 'off', use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1), class: "form-control" %>
          </div>
        </div>

        <div class="form-group row font-weight-bold">
          <%= f.label "パスワード(6文字以内)", class: "col-md-3 col-form-label" %>
          <div class= "form-group col-md-4">
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>
        </div>

        <div class="form-group row font-weight-bold">
          <%= f.label "パスワード(確認用)", class: "col-md-3 col-form-label"%>
          <div class= "form-group col-md-4">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-6">
            <%= f.submit "新規登録", class: "btn btn-primary btn-block" %>
          </div>
        </div>
      <% end %>

      <div class="row mt-5">
        <div class="col-md-4">
          <h5 class="back-gray">既に登録済みの方</h5>
          <p><%= link_to "こちら", new_user_session_path %>からログインしてください</p>
        </div>
      </div>
    </div>
  </div>
</div>