<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %>
    </div>
    <div class="col-md-5 offset-md-1">
      <h4><strong><%= @user.nick_name %></strong></h4>
      <% if @user == current_user %>
        <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-secondary btn-sm"%>
        <%= link_to "ストック食品一覧",  user_stock_foods_path(@user), class: "btn btn-secondary btn-sm"%>
        <% if @user.notifications.where(action: "warning").exists? || @user.notifications.where(action: "expired").exists? %>
          <span class="material-icons">notifications_active</span>
        <% end %>
      <% end %>
      <div class="follow">
        <%= link_to user_followings_path(@user) do %>
          <%= @user.followings.count %>人
        <% end %>
        <%= link_to user_followers_path(@user) do %>
          <%= @user.followers.count %>人
        <% end %>
        <% unless @user == current_user %>
          <% if current_user.following?(@user) %>
            <%= link_to "フォローを外す", user_relationships_path(@user), method: :delete, class: "btn btn-secondary btn-sm" %>
          <% else %>
            <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: "btn btn-info btn-sm" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row justify-content-canter">
    <div class="col-md-12">
      <div class="row">
        <% @recipes.each do |recipe| %>
          <div class="col-md-4">
            <%= link_to recipe_path(recipe) do %>
              <%= image_tag recipe.image, size: "293x293" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
